<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellowpg.gaspel"
    android:versionCode="66"
    android:versionName="1.7.0">

    <uses-sdk android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name="com.yellowpg.gaspel.etc.AppController"
        android:allowBackup="true"
        android:icon="@drawable/gaspel"
        android:label="오늘의 복음"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity"
            android:configChanges="screenSize|orientation|layoutDirection"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>s
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="오늘의복음"
            android:configChanges="screenSize|orientation|layoutDirection"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".ThirdActivity"
            android:label="오늘의복음"
            android:configChanges="screenSize|orientation|layoutDirection"
            android:screenOrientation="sensor" />
        <activity
            android:name=".FourthActivity"
            android:label="오늘의복음"
            android:configChanges="screenSize|orientation|layoutDirection"
            android:screenOrientation="sensor" />
        <activity
            android:name=".LectioActivity"
            android:label="오늘의복음"
            android:configChanges="screenSize|orientation|layoutDirection"
            android:screenOrientation="sensor" />
        <activity
            android:name=".StatusActivity"
            android:label="오늘의복음"
            android:configChanges="screenSize|orientation|layoutDirection"
            android:screenOrientation="sensor" />
        <activity
            android:name=".ExplainActivity"
            android:label="오늘의복음"
            android:configChanges="screenSize|orientation|layoutDirection"
            android:screenOrientation="sensor"  />
    </application>

</manifest>